@font-face {
    font-family: '2Dumb';
    src: url('font/2Dumb.ttf') format('truetype');
}
body {
    background-color: #6ba164;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change to flex-start to allow scrolling */
    align-items: center;
    height: auto; /* Change to auto to allow for scrolling */
    min-height: 100vh; /* Ensure minimum height is 100vh */
    margin: 0;
    padding-top: 20px;
    overflow-y: auto; /* Add overflow-y to enable vertical scrolling */
}

.text {
    font-family: '2Dumb', sans-serif;
    font-size: 100px;
    color: white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}
input[type="text"] {
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid #00000000;
    width: 300px;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin-top: 20px;
}
input[type="text"]::placeholder {
    color: white;
    opacity: 0.7;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.select-button {
    font-family: '2Dumb', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #468C6E;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: rotate(-10deg);
}
.select-button:hover {
    background-color: #375B4F;
}
.select-button2 {
    font-family: '2Dumb', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #468C6E;
    padding: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transform: rotate(10deg);
}
.select-button2:hover {
    background-color: #375B4F;
}
#button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.game-button {
    position: relative;
    width: 300px;
    height: 250px;
    font-family: '2Dumb', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #468C6E;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
}
.game-button:hover .game-image {
    filter: brightness(50%);
}

.game-button:hover .game-title {
    opacity: 0.7;
}

.game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.game-title {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.app-button {
    position: relative;
    width: 500px;
    height: 250px;
    font-family: '2Dumb', sans-serif;
    font-size: 24px;
    color: white;
    background-color: #468C6E;
    padding: 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: 0 1 calc(33.333% - 20px);
    box-sizing: border-box;
}
.app-button:hover .app-image {
    filter: brightness(50%);
}

.app-button:hover .app-title {
    opacity: 0.7;
}

.app-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.app-title {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
